# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.vscode/settings.json
.idea/
*.swp
*.swo

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.env

# OS
Thumbs.db
Projects/interest/pipeAuto/yolov8/
